.nav {
    ul {
        display: flex;
        gap: 15px;

        li {
            a {
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 30px;
                letter-spacing: 0.26px;
                color: #555555;
                cursor: pointer;
                display: flex;
                align-items: center;

                img {
                    margin-right: 7px;
                }
            }

            .active {
                color: #000000;
                background: #E6E6E6;
                border-radius: 4px;
                padding: 0px 10px;
            }
        }
    }
}